<div class="row">
  <div class="col-12 col-md-10 col-lg-8 mx-auto my-5 shadow-sm rounded">
    <mat-card>
      <mat-card-header class="bg-secondary border-bottom-primary">
        <mat-card-subtitle class="color-primary my-auto p-3">Formulario de registro</mat-card-subtitle>
        <button mat-icon-button color="primary" class="my-auto ml-auto mr-3" matTooltip="Volver a login" (click)="volverALogin()">
          <mat-icon>arrow_back</mat-icon>
        </button>      
      </mat-card-header>
      <mat-card-content>
        <mat-horizontal-stepper [linear]="true" #stepper>
          <mat-step [stepControl]="datosPrincipalesForm">
            <form [formGroup]="datosPrincipalesForm">
              <ng-template matStepLabel>Datos principales</ng-template>
              <div class="row d-flex justify-content-center my-4">
                <div class="col-12 col-md-3 mx-1">        
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="nombre">
                    <ng-container *ngIf="datosPrincipalesForm.controls.nombre.errors">
                      <div class="color-warn" *ngIf="datosPrincipalesForm.controls.nombre.errors.required"><small>Campo requerido</small></div>
                      <div class="color-warn" *ngIf="datosPrincipalesForm.controls.nombre.errors.maxlength"><small>El límite de carácteres es de 50</small></div>
                    </ng-container>
                  </mat-form-field>
                </div>
                <div class="col-12 col-md-3 mx-1">        
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Primer apellido</mat-label>
                    <input matInput formControlName="apellido1">
                    <ng-container *ngIf="datosPrincipalesForm.controls.apellido1.errors">
                      <div class="color-warn" *ngIf="datosPrincipalesForm.controls.apellido1.errors.required"><small>Campo requerido</small></div>
                      <div class="color-warn" *ngIf="datosPrincipalesForm.controls.apellido1.errors.maxlength"><small>El límite de carácteres es de 50</small></div>
                    </ng-container>
                  </mat-form-field>
                </div>
                <div class="col-12 col-md-3 mx-1">        
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Segundo apellido</mat-label>
                    <input matInput formControlName="apellido2">
                    <ng-container *ngIf="datosPrincipalesForm.controls.apellido2.errors">
                      <div class="color-warn" *ngIf="datosPrincipalesForm.controls.apellido2.errors.required"><small>Campo requerido</small></div>
                      <div class="color-warn" *ngIf="datosPrincipalesForm.controls.apellido2.errors.maxlength"><small>El límite de carácteres es de 50</small></div>
                    </ng-container>
                  </mat-form-field>
                </div>
                <div class="col-12 col-md-5 mx-1">        
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                    <ng-container *ngIf="datosPrincipalesForm.controls.email.errors">
                      <div class="color-warn" *ngIf="datosPrincipalesForm.controls.email.errors.required"><small>Campo requerido</small></div>
                      <div class="color-warn" *ngIf="datosPrincipalesForm.controls.email.errors.maxlength"><small>El límite de carácteres es de 50</small></div>
                      <div class="color-warn" *ngIf="datosPrincipalesForm.controls.email.errors.pattern"><small>Dirección de correo no válida</small></div>
                      <div class="color-warn" *ngIf="datosPrincipalesForm.controls.email.errors.emailExiste"><small>Ya hay un usuario registrado con este email</small></div>  
                    </ng-container>
                  </mat-form-field>
                </div>
                <div class="col-12 col-md-5 mx-1">        
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" [type]="mostrarPassword ? 'password' : 'text'">
                    <ng-container *ngIf="datosPrincipalesForm.controls.password.errors">
                      <div class="color-warn" *ngIf="datosPrincipalesForm.controls.password.errors.required"><small>Campo requerido</small></div>
                      <div class="color-warn" *ngIf="datosPrincipalesForm.controls.password.errors.minlength"><small>El mínimo de carácteres es de 8</small></div>
                      <div class="color-warn" *ngIf="datosPrincipalesForm.controls.password.errors.maxlength"><small>El límite de carácteres es de 50</small></div>
                    </ng-container>
                    <button mat-icon-button matSuffix (click)="mostrarPassword = !mostrarPassword">
                      <mat-icon>{{mostrarPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
                </div>
              </div>
              <div>
                <button mat-raised-button [disabled]="datosPrincipalesForm.invalid" color="primary" matStepperNext>Siguiente</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="datosSecundariosForm">
            <form [formGroup]="datosSecundariosForm">
              <ng-template matStepLabel>Datos secundarios</ng-template>
              <div class="row d-flex justify-content-center my-4">
                <div class="col-12 col-md-3 mx-1">        
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Telefono</mat-label>
                    <input matInput formControlName="telefono">
                    <ng-container *ngIf="datosSecundariosForm.controls.telefono.errors">
                      <div class="color-warn" *ngIf="datosSecundariosForm.controls.telefono.errors.required"><small>Campo requerido</small></div>
                      <div class="color-warn" *ngIf="datosSecundariosForm.controls.telefono.errors.maxlength"><small>El límite de carácteres es de 50</small></div>
                    </ng-container>
                  </mat-form-field>
                </div>
                <div class="col-12 col-md-3 mx-1">        
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Dirección</mat-label>
                    <input matInput formControlName="direccion">
                    <ng-container *ngIf="datosSecundariosForm.controls.direccion.errors">
                      <div class="color-warn" *ngIf="datosSecundariosForm.controls.direccion.errors.required"><small>Campo requerido</small></div>
                      <div class="color-warn" *ngIf="datosSecundariosForm.controls.direccion.errors.maxlength"><small>El límite de carácteres es de 50</small></div>
                    </ng-container>
                  </mat-form-field>
                </div>
                <div class="col-12 col-md-3 mx-1">        
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Localidad</mat-label>
                    <input matInput formControlName="localidad">
                    <ng-container *ngIf="datosSecundariosForm.controls.localidad.errors">
                      <div class="color-warn" *ngIf="datosSecundariosForm.controls.localidad.errors.required"><small>Campo requerido</small></div>
                      <div class="color-warn" *ngIf="datosSecundariosForm.controls.localidad.errors.maxlength"><small>El límite de carácteres es de 50</small></div>
                    </ng-container>
                  </mat-form-field>
                </div>
                <div class="col-12 col-md-3 mx-1">        
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Codigo postal</mat-label>
                    <input matInput formControlName="codigo_postal">
                    <ng-container *ngIf="datosSecundariosForm.controls.codigo_postal.errors">
                      <div class="color-warn" *ngIf="datosSecundariosForm.controls.codigo_postal.errors.maxlength"><small>El límite de carácteres es de 50</small></div>
                    </ng-container>
                  </mat-form-field>
                </div>   
                <div class="col-12 col-md-3 mx-1">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Estado</mat-label>
                    <input matInput formControlName="estado">
                    <ng-container *ngIf="datosSecundariosForm.controls.estado.errors">
                      <div class="color-warn" *ngIf="datosSecundariosForm.controls.estado.errors.maxlength"><small>El límite de carácteres es de 50</small></div>
                    </ng-container>
                  </mat-form-field>
                </div>
              </div>
              <div>
                <button mat-raised-button matStepperPrevious class="mr-2">Volver</button>
                <button mat-raised-button [disabled]="datosSecundariosForm.invalid" color="primary" matStepperNext>Siguiente</button>
              </div>
            </form>
          </mat-step>
          <mat-step optional>
            <ng-template matStepLabel>Imagen de perfil</ng-template>
            <div class="d-flex justify-content-center my-4">
              <button mat-button (click)="fileInput.click()"> 
                  <app-imagen-usuario [imagen]="imagenActual" [width]="100" [height]="100"></app-imagen-usuario>
              </button>
              <input hidden (change)="usuarioSeleccionaFicheroImagen()" #fileInput type="file">
            </div>
            <p class="text-center mb-4">Clic sobre la imagen para cambiarla</p>
            <div>
              <button mat-raised-button matStepperPrevious class="mr-2">Volver</button>
              <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
            </div>  
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Completado!</ng-template>
            <p class="mt-4">Has terminado el proceso de registro. Haga click en confirmar.</p>
            <div>
              <button mat-button matStepperPrevious>Volver</button>
              <button mat-button color="warn" (click)="stepper.reset()">Comenzar de nuevo</button>
              <button mat-button color="primary" (click)="registrarUsuario()">Confirmar</button>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
      </mat-card-content>
    </mat-card>
  </div>
</div>
