<mat-toolbar color="primary" class="shadow" *ngIf="location.path() !== '/login'">
  <mat-toolbar-row>
    <button mat-button color="primary" (click)="navegarHaciaPrincipal()">
      <div class="marca border-bottom-secondary d-flex align-items-center justify-content-center p-1">
        <mat-icon class="logo">account_balance</mat-icon>
        <span class="color-secondary ml-1 d-none d-sm-block">MY BANK</span>
        <span class="color-secondary ml-1 d-block d-sm-none">MB</span>
      </div>
    </button>

    <span class="spacer"></span>

    <mat-chip-list class="mr-2" *ngIf="cuentaActual != null && cuentasDelUsuario != undefined">
      <mat-chip [matMenuTriggerFor]="menuSeleccionCuenta"  matTooltip="{{cuentasDelUsuario.length > 1 ? 'Click para cambiar de cuenta' : 'Solo tienes una cuenta disponible'}}">
        <span class="d-none d-md-block">Saldo actual:</span>
        <span class="{{cuentaActual.saldo > 0 ? 'color-success' : 'color-warn'}} mr-1 ml-2">{{cuentaActual.saldo | currency: cuentaActual.divisa.descripcion}}</span>
        <mat-icon>keyboard_arrow_down</mat-icon>
      </mat-chip>
    </mat-chip-list>
    <mat-menu #menuSeleccionCuenta="matMenu" class="pt-0">
      <h4 class="my-auto pl-3 py-2 color-primary shadow-sm">Menú de selección de cuenta</h4>
      <div>
        <button mat-menu-item *ngFor="let cuentaDelUsuario of cuentasDelUsuario" (click)="abrirDetalleCuenta(cuentaDelUsuario)">
          <span>
            <mat-icon class="color-primary">credit_card</mat-icon>
            {{cuentaDelUsuario.iban}}
          </span>
          <span class="{{cuentaDelUsuario.saldo > 0 ? 'color-success' : 'color-warn'}} mr-1 ml-2">{{cuentaDelUsuario.saldo | currency: cuentaDelUsuario.divisa.descripcion}}</span>
        </button>  
      </div>
    </mat-menu> 

    <button *ngIf="usuarioAutenticado != null" mat-icon-button color="primary" class="color-secondary" [matMenuTriggerFor]="menuImagenUsuario">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menuImagenUsuario="matMenu">
      <button mat-menu-item (click)="navegarAListadoDeTransferencias()">
        <mat-icon class="color-primary">history</mat-icon>
        <span>Listado de transferencias</span>
      </button>
      <button mat-menu-item (click)="navegarAListadoDeMovimientos()">
        <mat-icon class="color-primary">inbox</mat-icon>
        <span>Listado de movimientos</span>
      </button>
      <button mat-menu-item (click)="navegarAListadoPeticiones()">
        <mat-icon *ngIf="totalPeticiones" matBadge="{{totalPeticiones}}" matBadgeColor="warn" matBadgeSize="small" class="color-primary">notifications_active</mat-icon>
        <mat-icon *ngIf="!totalPeticiones" class="color-primary">notifications_none</mat-icon>
        <span>Listado de peticiones</span>
      </button>
      <button mat-menu-item (click)="navegarASeleccionMovimiento()">
        <mat-icon class="color-primary">swap_horiz</mat-icon>
        <span>Realizar movimiento</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="navegarAMiCuenta()">
        <mat-icon class="color-accent">settings</mat-icon>
        <span>Modificar datos usuario</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="dialogoAbandonarSesion()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Abandonar la sesión</span>
      </button>
    </mat-menu> 
  </mat-toolbar-row>
</mat-toolbar>
