@import '../../../variables.scss';

table {
  width: 100%;
}

.mat-cell {
  transition: 0.5s;
}
  
.mat-row:hover {
  cursor: pointer;
  .mat-cell {
    background-color: darken($color-secondary, 5%);
  }
}

td {
  max-width: 100px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.fixed-bottom {
  z-index: -9999;
}

.mat-paginator {
  background-color: $color-secondary;
}

.contenedorTabla {
  height: 70vh;
  overflow: auto;
}

.contenedorTabla::-webkit-scrollbar {
  -webkit-appearance: none;
  background-color: $color-secondary;
}

.contenedorTabla::-webkit-scrollbar:vertical {
  width: 5px;
}

.contenedorTabla::-webkit-scrollbar-button:increment, .contenedorTabla::-webkit-scrollbar-button {
  display: none;
}

.contenedorTabla::-webkit-scrollbar:horizontal {
  height: 10px;
}

.contenedorTabla::-webkit-scrollbar-thumb {
  background-color: darken($color-secondary, 20%);
  border-radius: 20px;
}

.contenedorTabla::-webkit-scrollbar-thumb:hover {
  background-color: darken($color-secondary, 40%);
}

.mat-paginator {
  background-color: $color-secondary;
}

.panel-filtro {
  width: 350px;
}

@media only screen and (max-width: 768px) {

  .panel-filtro {
    width: 100%;
  }

}
