@import '../../../variables.scss';

a:hover {
  color: $color-primary;
}

mat-card {
  box-shadow: none !important;
  border-radius: 0;
}

@media only screen and (max-width: 768px) {

  #contenedor-login {
    height: 100vh;
  }

  button, a {
    width: 100% !important;
  }

}
