<div class="row">
  <div class="col-12 p-0">
    
    <mat-card class="p-0" *ngIf="movimientoForm != undefined">
      <mat-card-header class="bg-secondary border-bottom-primary">
        <mat-card-subtitle class="color-primary my-auto p-3">Rellena los siguientes campos para realizar el movimiento</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="movimientoForm">
          <div class="row d-flex justify-content-center border-bottom">
            <div class="col-12 col-md-6 p-4">
              <h4 class="color-accent">DATOS PARA MOVIMIENTO</h4>
              <mat-form-field appearance="legacy" class="w-50">
                <mat-label>Tipo movimiento</mat-label>
                <mat-select formControlName="tipo" (selectionChange)="comprobarTipoMovimiento()">
                  <mat-option *ngFor="let tipo of tiposMovimiento" [value]="tipo">
                    {{tipo}}
                  </mat-option>
                </mat-select>
                <ng-container *ngIf="movimientoForm.controls.tipo.touched && movimientoForm.controls.tipo.errors">
                  <div class="color-warn" *ngIf="movimientoForm.controls.tipo.errors.required"><small>Campo requerido</small></div>
                </ng-container>
              </mat-form-field>
              <mat-form-field *ngIf="movimientoForm.controls.tipo.value == 'Solicitar dinero' || movimientoForm.controls.tipo.value == 'Enviar dinero'" appearance="legacy" class="w-100">
                <mat-label>Iban</mat-label>
                <input matInput formControlName="iban">
                <ng-container *ngIf="movimientoForm.controls.iban.touched && movimientoForm.controls.iban.errors">
                  <div class="color-warn" *ngIf="movimientoForm.controls.iban.errors.required"><small>Campo requerido</small></div>
                  <div class="color-warn" *ngIf="movimientoForm.controls.iban.errors.maxlength"><small>El límite de carácteres es de 50</small></div>
                  <div class="color-warn" *ngIf="movimientoForm.controls.iban.errors.pattern"><small>Este campo solo puede contener números y letras</small></div>
                  <div class="color-warn" *ngIf="movimientoForm.controls.iban.errors.ibanNoEncontrado"><small>El iban introducido no existe</small></div>
                </ng-container>
              </mat-form-field>
              <mat-form-field appearance="legacy" class="w-100">
                <mat-label>Descripción</mat-label>
                <mat-spinner matSuffix class="ml-2" [mode]="'determinate'" [value]="movimientoForm.controls.descripcion.value.length / 2" [diameter]="15" [color]="movimientoForm.controls.descripcion.value.length > 200 ? 'warn' : 'primary'"></mat-spinner>
                <textarea matInput formControlName="descripcion" class="text-justify"></textarea>
                <ng-container *ngIf="movimientoForm.controls.descripcion.touched && movimientoForm.controls.descripcion.errors">
                  <div class="color-warn" *ngIf="movimientoForm.controls.descripcion.errors.required"><small>Campo requerido</small></div>
                  <div class="color-warn" *ngIf="movimientoForm.controls.descripcion.errors.maxlength"><small>El límite de carácteres es de 200</small></div>
                </ng-container>
              </mat-form-field>    
              <mat-form-field appearance="legacy" class="w-50">
                <mat-label>Importe</mat-label>
                <input matInput mvndrMatCurrencyFormat [allowNegative]="false" [currencyCode]="cuentaActual.divisa.descripcion" formControlName="importe" />
                <ng-container *ngIf="movimientoForm.controls.importe.touched && movimientoForm.controls.importe.errors">
                  <div class="color-warn" *ngIf="movimientoForm.controls.importe.errors.required"><small>Campo requerido</small></div>
                  <div class="color-warn" *ngIf="movimientoForm.controls.importe.errors.max"><small>Has superado tu saldo</small></div>
                  <div class="color-warn" *ngIf="movimientoForm.controls.importe.errors.min"><small>El importe debe ser mayor de 0</small></div>
                </ng-container>
              </mat-form-field>
            </div>
          </div>
        </form>
      </mat-card-content>
      <mat-card-actions class="d-flex mx-0 my-4">
        <button mat-stroked-button [disabled]="movimientoForm.invalid" (click)="realizarMovimiento()" color="primary" class="ml-auto">{{movimientoForm.controls.tipo.value != '' ? movimientoForm.controls.tipo.value : 'Selecciona un tipo'}}</button>
        <button mat-stroked-button color="warn" (click)="crearFormularioReactivo()">Reiniciar</button>
      </mat-card-actions>
    </mat-card>

  </div>
</div>
